<div class="aggrid">
  <div class="add-remove">
    <button (click)="addRow()" class="add">
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
    <div class="space"></div>
    <button (click)="deleteRow()" class="add">
      <fa-icon [icon]="faMinus"></fa-icon>
    </button>
  </div>
  <ag-grid-angular
    #agGrid
    style="width:700px; height: 500px;"
    class="ag-theme-balham"
    [rowData]="rows$ | async"
    [columnDefs]="gridOptions.columnDefs"
    rowSelection="multiple"
  >
  </ag-grid-angular>
</div>
